*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

.hero{
  background-color: #1F2937;
  width: 100dv;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.header{
  display:flex;
  justify-content: space-between;
  margin: 20px 100px;
}

.logo{
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.link-list li a, .hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

ul{
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.main-hero-section{
  display: flex;
  width: 100dv;
  height: 400px;
  justify-content: space-between;
  margin: 0px 100px;
  align-items: center;
}

.signup-box{
  width: 400px;
  flex-wrap: wrap;

}

img{
  width: 600px;
  height: 275px;
}

.hero-button{
  background-color: #3882F6;
  border: none;
  padding: 8px 40px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
  cursor: pointer;
}



.hero-main-text {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
  margin-bottom: 15px;
}