*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.hero{
  background-color: #1F2937;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: space-between;
  margin: 20px 100px;
}

.logo{
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
  flex-shrink: 0;
}

.link-list li a, .hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

ul{
  display: flex;
  list-style-type: none;
  gap: 30px;
  flex-shrink: 0;
  margin-left: 30px;
}

.main-hero-section{
  display: flex;
  width: 100dv;
  height: 400px;
  justify-content: space-between;
  margin: 0px 100px;
  align-items: center;
}

.signup-box{
  width: 400px;
  flex-wrap: wrap;
  flex-shrink: 0;
}

img{
  width: 600px;
  height: 275px;
}

.hero-button{
  background-color: #3882F6;
  border: none;
  padding: 8px 40px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.hero-main-text {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
  margin-bottom: 15px;
}

.random-information{
  display: flex;
  width: 100%;
  height: 500px;
  flex-direction: column;
}

.random-section-header{
  display: flex;
  justify-content: center;
  font-size: 19px;
  font-weight: bold;
  margin-top: 35px;
}

.random-section-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-top: -50px;
}

.content-boxes {
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  width: 170px;
  text-align: center;
  margin: 0px 30px;
  color: #81848a;
  font-size: 18px;
  align-items: center;
}

.frame {
  width: 160px;
  height: 160px;
  border:4px solid #3882F6;
  border-radius: 18px;
  margin-bottom: 10px;
  padding: 0
}


.quote {
  display: flex;
  width: 100%;
  height: 400px;
  background-color: #E5E7EB;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -50px;
}

.text-box {
  display: flex;
  width: 800px;
  height: 300px;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1F2937;
  flex-wrap: wrap;
}

.credit {
  color: #1F2937;
  font-weight: bold;
  font-size: 20px;
  align-self: flex-end;
  margin-right: 280px;
  margin-top: -60px;
  min-width: 80px;
  flex-shrink: 0;
}



.call-to-action {
  width: 1000px;
  height: 150px;
  background-color: #3882F6;
  border-radius: 8px;
  margin: 80px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cta-text {
  color: white;
}

.cta-header {
  font-size: 22px;
  font-weight: bold;
}

.cta-button {
  color: white;
  background-color:#3882F6;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  padding: 8px 40px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.footer{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  color: white;

}